<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris Flower predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Iris Flower predictor</h1>
        <form id="irisForm">
            <div class="IrisForm"> 

                <label for="sepal_length">Sepal Length:</label>
                <input type="number" id="sepal_length" placeholder="Enter Sepal Length" step="any" required><br>

                <label for="sepal_width">Sepal Width:</label>
                <input type="number" id="sepal_width" placeholder="Enter Sepal Width" step="any" required><br>

                <label for="petal_length">Petal Length:</label>
                <input type="number" id="petal_length" placeholder="Enter Petal Length" step="any" required><br>

                <label for="petal_width">Petal Width:</label>
                <input type="number" id="petal_width" placeholder="Enter Petal Width" step="any" required><br>

                <button type="submit">Predict</button><br>

            </div>
        </form>
        <div id="result"></div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>